.pag {


background-color:  rgb(13, 20, 28);
color: rgb(240, 228, 178);
font-family: Helvetica;

}


.titulo {

background-color: rgb(191, 32, 38);
color: rgb(240, 228, 178);
font-family:  Tahoma;
}

  
  .button {
  
      color: rgb(240, 228, 178);
      background-color: rgb(191, 32, 38);
      height: 50px; width: 100px;
      position: fixed;
      border-radius: 25px;
      font-family: Roboto;
  
  }


  

        
.album1 {

height: 100px; width: 350px;
border-radius: 25px;
background-color: rgb(240, 228, 178);

}

.album3 {
  
  color: rgb(240, 228, 178);
  background-color: rgb(191, 32, 38);
  height: 50px; width: 100px;
  position: fixed;
  border-radius: 25px;
  font-family: Roboto;
  
  }
  

.album2 {

  height: 100px; width: 350px;
  border-radius: 25px;
  background-color: rgb(240, 228, 178);
  

}

.top1 {


color: rgb(240, 228, 178);
font-family:  Tahoma;
}


.top2 {


  color: rgb(191, 32,38);
  font-family:  Tahoma;

  }
  
  .pie {
background-color: rgb(240, 228, 178);
text-align: center;
color: rgb(191, 32, 38);
font-family: Tahoma;
padding-top: 20px ;
height: 100px;
margin-top: 20px;



  }


.listas {

  text-decoration: none;
  background-color: rgb(191, 32, 38)
color
  }

  
.listas2 {

  text-decoration:solid;
  background-color: rgb(240, 228, 178);
  color: rgb(191, 32, 38);
  
  }

  .listas3 {

    text-decoration: none;
    background-color: rgb(191, 32, 38)
  color
    }
    

  .parrafo1 {

color: rgb(191, 32, 38);


  }